<h2 class="my-4">Associations</h2>

<%= form_tag '/stats', method: :get, class: 'mb-5' do %>
	<div class="row">
		<div class="col-md-2">
    	<%= select_tag 'models', grouped_options_for_select(get_grouped_options, nil, prompt: 'Select model'), class: "form-control" %>
		</div>
		<div class="col-md-1">
			<%= submit_tag("Submit", class: "form-control btn-primary") %>
		</div>
	</div>
<% end %>

<% if @parent.present? && @child.present? %>
  <div class="mt-2">
    <p><%= pluralize_constant(@parent).capitalize %> that have <%= pluralize_constant(@child) %> : <%= @joined_model.count %></p>
    <p>Total <%= pluralize_constant(@child) %> created: <%= @child.count %></p>

    <% counts(@grouped_joined_model).each do |k, v| %>
      <p><b><%= v %> <%= pluralize_constant(@parent) %></b> have <b><%= pluralize(k,  @child.to_s.downcase) %> (<%= ( v.to_f / @joined_model.distinct.count.to_f ).signif(2) * 100 %>% of <%= pluralize_constant(@parent).capitalize %>)</b></p>

      <% @grouped_joined_model.having("count(#{pluralize_constant(@child)}.id) = ?", k).count.each do |key, value| %>
         <% parent = @parent.find(key) %>
				 					 
         <% first_child = parent.public_send(pluralize_constant(@child))[0].created_at.time %>
         <% last_child = parent.public_send(pluralize_constant(@child))[k-1].created_at.time %>

         <% t = first_child - last_child %>

         <% mm, ss = t.divmod(60) %>
         <% hh, mm = mm.divmod(60) %>
         <% dd, hh = hh.divmod(24) %>
         <% if dd <= 7 %>
           <% @seven_days_or_less += 1 %>
         <% elsif dd >= 21 %>
           <% @twenty_one_days_or_more += 1 %>
         <% else %>
           <% @between_seven_and_twenty += 1 %>
         <% end %>
      <% end %>

      <div class="ml-5">
        <p><%= @seven_days_or_less %> of these <%= pluralize_constant(@parent) %> created their first and last <%= @child.to_s.downcase %> within 7 days</p>
        <p><%= @between_seven_and_twenty %> of these <%= pluralize_constant(@parent) %> created their first and last <%= @child.to_s.downcase %> between 7 and 21 days</p>
        <p><%= @twenty_one_days_or_more %> of these <%= pluralize_constant(@parent) %> created their first and last <%= @child.to_s.downcase %> over 21 days apart (HIGH RETENTION)</p>
      </div>
    <% end %>
  </div>
<% end %>