<h2 class="my-4">Growth</h2>

<%= form_tag '/growth/stats', method: :get do %>
	<div class="row">
		<div class="col-md-2">
  		<%= select_tag 'year', options_for_select((2014..Date.current.year).to_a, year), class: "form-control" %>
		</div>
		<div class="col-md-1">
			<%= submit_tag("Submit", class: "btn btn-primary") %>
		</div>
	</div>
<% end %>

<div class="row mt-2">
	<div class="col-md-12">
		<table class="table table-bordered">
		  <tr>
		    <th>Title</th>
		    <th>January</th>
		    <th>February</th>
		    <th>March</th>
		    <th>April</th>
		    <th>May</th>
		    <th>June</th>
		    <th>July</th>
		    <th>August</th>
		    <th>September</th>
		    <th>October</th>
		    <th>November</th>
		    <th>December</th>
		  </tr>
		  <% resources.each do |resource| %>
		    <tr>
		      <td><p><%= pluralize_constant(resource) %></p></td>

          <% group_resource_by_month(resource, year).each do |month, stats| %>
            <td>
              <span><%= stats[:count] %></span>
              <span><%= stats[:growth] %></span>
            </td>
          <% end %>

		    </tr>
		  <% end %>
		</table>
	</div>
</div>