<h4 class="my-4">MoM Growth</h4>

<%= form_tag '/growth/stats', method: :get do %>
	<div class="row">
		<div class="col-md-2">
  		<%= select_tag 'year', options_for_select((2014..Date.current.year).to_a, year), class: "form-control" %>
		</div>
		<div class="col-md-1">
			<%= submit_tag("Submit", class: "btn btn-primary") %>
		</div>
	</div>
<% end %>

<div class="row mt-2">
	<div class="col-md-12">
		<table class="table table-bordered">
		  <tr>
		    <th></th>
		    <th>January</th>
		    <th>February</th>
		    <th>March</th>
		    <th>April</th>
		    <th>May</th>
		    <th>June</th>
		    <th>July</th>
		    <th>August</th>
		    <th>September</th>
		    <th>October</th>
		    <th>November</th>
		    <th>December</th>
		  </tr>
		  <% resources.each do |resource| %>
		    <tr>
		      <td><b><%= pluralize_constant(resource) %></b></td>
					
          <% group_resource_by_month(resource, year).each do |date, stats| %>
            <% if date.year == year %>
              <td>
                <p><%= stats[:count] %></p>
                <p class="<%= stats[:css] %>"><%= stats[:growth] %></p>
              </td>
            <% end %>
          <% end %>
		    </tr>
		  <% end %>
		</table>
	</div>
</div>

<h4 class="my-4">YoY Growth</h4>

<div class="row mt-2">
  <div class="col-md-12">
    <table class="table table-bordered">
      <% resources.each do |resource| %>
        <tr>
          <td><b><%= pluralize_constant(resource) %></b></td>

          <% group_resource_by_year(resource).each do |date, stats| %>
            <td>
              <p><%= stats[:count] %></p>
              <p class="<%= stats[:css] %>"><%= stats[:growth] %></p>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>